.bannerBgImage {
  position: relative;
}

.bannerImg {
  display: block;
  width: 100%;
  height: auto;
}

.bannertext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
}

.bannerTitle {
  font-size: 32px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin-bottom: 0;
}


@media screen and (min-width: 480px) {
   .bannerTitle{
       margin-left:20px;
       padding:10px;
   }
}

.bannerDesc {
    font-size: 2rem;
}

.span {
    margin-left: 20px;
}

.card {
    cursor: pointer;
}

.bIcon {
    width: 100%;
    test-align: center;
    font-size: 40px;
}
